/* main.css */

h1 {width:100%; text-align: center; margin:1rem; text-align: center;}
ul {width:800px; margin:auto;}
li {margin-bottom:0.5rem;}
a  {padding:0.3rem; border-bottom: 1px solid #777; }
a:hover, a:focus {color:#8b00ff;}