/* radius.css */

h1 {width:500px; margin:10px auto;text-align: center; 
    background-color: #ADC7E4; color:#fff;}
    
.sample {
    width:800px; height:400px; 
    margin:auto; padding:1rem; border:1px solid #aca;}

h2 {padding:0.5rem; background-color: #774; color:#fff; font-size:2rem; text-align: center;}

.sample > ul {
    width:100%; height:auto; padding:0.5rem; box-sizing: border-box; 
}

.sample li {
    float:left; width:100px; height:100px; margin:1rem; 
    background-color: rgb(182,11,90);
    text-align: center; line-height: 100px; color:#fff; 
    font-weight: bold; font-size:1.2rem;
}

.sample li:nth-child(1) {border-radius: 10px;}
.sample li:nth-child(2) {border-radius: 1rem 2rem;}
.sample li:nth-child(3) {border-radius: 1rem 2rem 4rem;}
.sample li:nth-child(4) {border-radius: 1rem 0.5rem 2rem 3rem;}
.sample li:nth-child(5) {border-top-left-radius:1rem; }
.sample li:nth-child(6) {border-top-left-radius:1rem 3rem; border-bottom-left-radius: 2rem 5rem; }
.sample li:nth-child(7) {border-radius:50%; }
.sample li:nth-child(8) {width:300px; border-radius: 50px;}



/* ========================================================== */
.sample2{
    width:800px; height:400px; background-color: #FFC0Cb;
    margin:auto; padding:1rem; 
}

.sample2 ul {width:100%; height:auto; padding:0.5rem; box-sizing: border-box;}

.sample2 li {
    float:left; width:100px; height:100px; margin:1rem; 
    background-color: #1478ff; 
    text-align: center; line-height: 100px; 
    font-weight: bold; font-size:1rem;}

.sample2 li:nth-child(2n) {background-color: #81c747;}
.sample2 li:nth-child(1) {border-top-left-radius:50px;}
.sample2 li:nth-child(2) {border-top-left-radius:100px;}
.sample2 li:nth-child(3) {border-top-left-radius:50px; border-top-right-radius:50px;}
.sample2 li:nth-child(4) {border-bottom-left-radius:50px; border-bottom-right-radius:50px;}
.sample2 li:nth-child(5) {border-radius: 50px; border-bottom-left-radius:0;}
.sample2 li:nth-child(6) {border-radius:50px 0;}
.sample2 li:nth-child(7) {border-radius:0 100px;}
.sample2 li:nth-child(8) {border-radius: 50%;}
.sample2 li:nth-child(9) {border-radius: 100px 0 50px;}
.sample2 li:nth-child(10) {border-radius: 80px 0; border-top-left-radius: 50px 100px;}
.sample2 li:nth-child(11) {border-top-left-radius: 100px 50px; border-bottom-right-radius:100px 50px;}
.sample2 li:nth-child(12) {border-top-left-radius: 100px; border-bottom-right-radius: 50px 100px;}
.sample2 li:nth-child(13) {border-top-left-radius:50px 100px; border-top-right-radius:50px 100px;}
.sample2 li:nth-child(14) {border-radius: 50%;}
.sample2 li:nth-child(15) {border-top-left-radius: 50px; border-top-right-radius:50px 100px;}